* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.fs-24 {
  font-size: 24px; }

.fs-18 {
  font-size: 18px; }

.fs-16 {
  font-size: 16px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-13 {
  font-size: 13px; }

.cursor-point {
  cursor: pointer; }

.main {
  min-height: 100vh;
  justify-content: center;
  z-index: 3;
  padding-left: 480px;
  overflow: hidden; }

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 20px 20px 0 rgba(51, 62, 73, 0.1); }
  .form .heading {
    font-size: 2rem; }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300; }
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column; }
  .form-label, .form-message {
    text-align: left; }
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem; }
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem; }
    .form-control:hover {
      border-color: #1dbfaf; }

.form-group.invalid .form-control {
  border-color: #f33a58; }

.form-group.invalid .form-message {
  color: #f33a58; }

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0; }

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer; }
  .form-submit:hover {
    background-color: #1ac7b6; }

.spacer {
  margin-top: 36px; }

/* Add friend */
.bg-white {
  background: white; }

.txt-black {
  color: black !important; }

.list-addfriend-wrapper {
  width: 100%;
  height: 55px; }

.list-addfriend {
  background-color: transparent;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  height: 100%;
  padding: 6px 0;
  /* display: flex; */ }

.list-addfriend .list-addfriend-item {
  width: 100%; }

.list-addfriend .list-addfriend-item.list-addfriend-item-add {
  display: inline-block; }

.list-addfriend:hover {
  background-color: #eeeff2;
  cursor: pointer;
  display: block !important;
  opacity: 0.8; }

.list-addfriend:hover
.list-addfriend-item
.list-addfriend-item-close
.list-addfriend-item-close-i {
  display: block !important; }

.list-addfriend .list-addfriend-item .list-addfriend-item-image {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background: transparent;
  margin-left: 6px; }

.list-addfriend-item .list-addfriend-item-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%; }

.list-addfriend-item .list-addfriend-item-info {
  width: calc(100% - 82px); }

.list-addfriend-item .list-addfriend-item-info.list-addfriend-item-add {
  width: calc(100% - 118px) !important; }

.list-addfriend-item .list-addfriend-item-close:hover {
  color: #0068ff; }

.mt-115 {
  margin-top: 115px; }

.btn-add-friend {
  font-size: 13px;
  background: #c5c3d626;
  color: #0068ff;
  border-color: #3989ff !important;
  border-radius: 3px;
  width: 70px;
  min-width: 100%;
  text-align: center;
  padding: 2px 8px;
  color: black; }

#more {
  display: none; }
