.card-verify-reset {
  width: 400px;
  border: none;
  height: 100%;
  box-shadow: 0px 1px 5px 0px #041a7a59;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validate-reset {
  border-radius: 12px;
  height: 40px;
  background-color: #aad6ff;
  border: 1px solid #fff;
  width: 140px;
}

.otp-input-reset .form-control {
  border-color: #aad6ff;
}

.otp-input-reset .form-control:focus {
  box-shadow: none;
  border: 2px solid #aad6ff;
}
