// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif !important;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}

// html {
//   color: #333;
//   font-size: 62.5%;
//   overflow: hidden;
// }
body {
  // display: flex;
  // font-family: 'Roboto', sans-serif !important;
  font-family: 'Outfit', sans-serif !important;
}
.fs-24 {
  font-size: 24px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-13 {
  font-size: 13px;
}
.cursor-point {
  cursor: pointer;
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
