<div class="account-pages my-3 pt-sm-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">

                    <h4>Đăng nhập</h4>
                    <p class="text-muted mb-4">Đăng nhập để kết nối với bạn bè</p>

                </div>

                <div class="card mt-4">
                    <div class="card-body p-4">
                        <div class="p-3">
                            <form action="login-register/login" method="POST">
                                {{#if message}}
                                <div class="alert alert-danger text-center">{{message}}</div>
                                {{/if}}
                                <div class="mb-3">
                                    <label class="form-label fs-18" for="phone">Số điện thoại</label>
                                    <div class="input-group mb-3 bg-soft-light rounded-3">
                                        <span class="input-group-text text-muted" id="basic-addon3">
                                            <i class="fal fa-mobile"></i>
                                        </span>
                                        <input type="text" name="phone" id="phone"
                                            class="form-control form-control-lg border-light bg-soft-light"
                                            placeholder="Nhập số điện thoại" aria-label="Nhập số điện thoại"
                                            aria-describedby="basic-addon3"
                                            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="float-end">
                                        <a href="/accounts/password/reset" class="text-muted font-size-13">Quên mật
                                            khẩu?</a>
                                    </div>
                                    <label class="form-label fs-18" for="password">Mật khẩu</label>
                                    <div class="input-group mb-3 bg-soft-light rounded-3">
                                        <span class="input-group-text text-muted" id="basic-addon4">
                                            <i class="fal fa-lock-alt"></i>
                                        </span>
                                        <input type="password" id="password" name="password"
                                            class="form-control form-control-lg border-light bg-soft-light"
                                            placeholder="Nhập mật khẩu" aria-label="Nhập mật khẩu"
                                            aria-describedby="basic-addon4"
                                            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">

                                    </div>
                                </div>

                                <div class="form-check mb-4">
                                    <input type="checkbox" class="form-check-input" id="remember-check">
                                    <label class="form-check-label" for="remember-check">Ghi nhớ</label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary waves-effect waves-light form-submit"
                                        type="submit">Đăng nhập</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>Bạn chưa có tài khoản ? <a href="/accounts/signup" class="fw-medium text-primary"> Đăng ký
                            tại đây </a>
                    </p>
                    <p>©
                        <script>document.write(new Date().getFullYear())</script> - App Zalo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end account-pages -->