<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <h4>Đặt lại mật khẩu</h4>
                    <p class="text-muted mb-4">Đặt lại mật khẩu với App Zalo</p>

                </div>

                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-3">
                            <div class="alert alert-success text-center mb-4" role="alert">
                                Nhập số điện thoại và mã xác thực với 6 chữ số sẽ được gửi tới bạn!
                            </div>
                            <form action="/accounts/verify" method="GET">

                                <div class="mb-4">
                                    <label class="form-label fs-18">Số điện thoại</label>
                                    <div class="input-group mb-3 bg-soft-light rounded-3">
                                        <span class="input-group-text text-muted" id="basic-addon5">
                                            <i class="fal fa-mobile"></i>
                                        </span>
                                        <input type="tel"
                                            class="form-control form-control-lg border-light bg-soft-light"
                                            placeholder="Nhập số điện thoại" aria-label="Nhập số điện thoại"
                                            aria-describedby="basic-addon5">
                                    </div>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Nhận
                                        mã</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>Bạn đã nhớ lại mật khẩu ? <a href="/login-register" class="fw-medium text-primary"> Đăng nhập
                        </a> </p>
                    <p>©
                        <script>document.write(new Date().getFullYear())</script> - App Zalo
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end account-pages -->