<div class="account-pages reset-box-1 my-4 pt-sm-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <h1 style="color: #0190f3">Zolo</h1>
                    <h5 class="text-dark mb-4" style="line-height: 26px;">Khôi phục mật khẩu Zolo <br>
                        để kết nối với ứng dụng Zolo Chat</h5>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-3">
                            <div id="showNotificationReset" class="alert alert-success text-center mb-4" role="alert">
                                Nhập số điện thoại để nhận mã xác thực
                            </div>
                            <form>
                                <div class="mb-4">
                                    <label class="form-label fs-18">Số điện thoại</label>
                                    <div class="input-group mb-3 bg-soft-light rounded-3">
                                        <span class="input-group-text text-muted" id="basic-addon5">
                                            <i class="fal fa-mobile"></i>
                                        </span>
                                        <input type="tel" value="+84987059059" id="phoneNumberReset"
                                            class="form-control form-control-lg border-light bg-soft-light"
                                            placeholder="Nhập số điện thoại" aria-label="Nhập số điện thoại"
                                            aria-describedby="basic-addon5">
                                    </div>
                                </div>
                                <div id="recaptcha-container"></div>
                                <div class="d-grid">
                                    <button id="btnResetPassword" class="btn btn-main-reset waves-effect waves-light"
                                        type="button">Nhận
                                        mã</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>Bạn đã nhớ lại mật khẩu ? <a href="/login-register" class="fw-medium text-primary"> Đăng nhập
                        </a> </p>
                    <p>©
                        <script>document.write(new Date().getFullYear())</script> - App Zolo
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end account-pages -->
{{!-- FORM VERIFY OTP --}}
<div class="container height-100 d-flex justify-content-center align-items-center " id="formVerifyReset">
    <div class="position-relative reset-box-2" style="animation: modal-appear .3s ease-out forwards; margin-top: 120px">
        <div class="text-center mb-4">
            <h1 style="color: #0190f3">Zolo</h1>
            <p class="text-muted mb-4">Xác minh tài khoản của bạn ngay bây giờ.</p>
        </div>
        <div class="card px-2 py-4 text-center card-verify-reset">
            <h6>Nhập mã gồm 6 chữ số mà chúng tôi đã gửi đến</h6>
            <div class="py-2"> <span>1 mã được gửi đến số điện thoại</span> <small>*******<span
                        id="lastPhone-reset"></span>
                </small> </div>
            <div>
                <p>
                    Mã OTP sẽ hết hạn sau
                    <span class="expire-reset text-dark">60s</span>
                </p>
            </div>
            <form name="resetPassword">
                <div class="inputsReset d-flex flex-row justify-content-center mt-2 otp-input-reset" id="otp">
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n1" />
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n2" />
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n3" />
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n4" />
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n5" />
                    <input class="m-2 text-center form-control rounded" type="tel" maxlength="1" name="n6" />
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <div class="mt-4">
                        <a href="/accounts/password/reset">
                            <button class="btn btn-main-reset px-4 validate-reset"><i
                                    class="fas fa-long-arrow-left fs-18"></i></button>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mt-4"> <button class="btn btn-main-reset px-4 validate-reset" id="submitOTPReset"><i
                                class="fas fa-long-arrow-right fs-18"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-svg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 810" preserveAspectRatio="xMinYMin slice">
        <path fill="#aad6ff"
            d="M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z">
        </path>
        <path fill="#e8f3ff"
            d="M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z">
        </path>
        <path fill="#cee7ff"
            d="M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z">
        </path>
        <path fill="#e8f3ff" d="M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z"></path>
        <path fill="#e8f3ff"
            d="M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z">
        </path>
        <path fill="#eef4f8"
            d="M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z">
        </path>
        <path fill="#e8f3ff"
            d="M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z">
        </path>
    </svg>
</div>
<div class="overlay-reset">
</div>
<div class="modal-btn-verify">
    <header class="header bg-danger">
        <h3 class="text-white">Thông báo</h3>
        <i class="far fa-times header-close-verify"></i>
    </header>
    <form action="">
        <div class="modal-content-verify">
            <p style="text-align: center" class="text-danger">Mã kích hoạt không hợp lệ</p>
        </div>
        <footer class="actions">
            <button class="action-btn action-btn-verify" type="button">Thử lại</button>
        </footer>
    </form>
</div>