<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <h5>Xác minh số điện thoại của bạn</h5>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-3">

                            <form action="/accounts/password/update" method="POST">
                                <div class="mb-4">
                                    <label class="form-label fs-14">Nhập mã gồm 6 chữ số mà chúng tôi đã gửi đến</label>
                                    <div class="input-group bg-soft-light rounded-3 mb-3">
                                        <span class="input-group-text text-muted" id="basic-addon2">
                                            <i class="fal fa-user-check"></i>
                                        </span>
                                        <input type="tel" name="numberVerify"
                                            class="form-control form-control-lg bg-soft-light"
                                            placeholder="Nhập mã xác thực" aria-label="Nhập mã xác thực"
                                            aria-describedby="basic-addon2"
                                            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                    </div>
                                    <input type="text" hidden value="{{this.phoneNumber}}" name="phoneNumber">
                                </div>

                                <div class="row">
                                    <div class="col-6"><a href="/login-register/signup">
                                            <button class="btn btn-light waves-effect waves-light" type="submit"
                                                style="min-width: 95px;">Trở lại</button>
                                        </a></div>
                                    <div class="col-6"><button class="btn btn-primary waves-effect waves-light"
                                            type="submit" style="min-width: 95px; float: right">Tiếp tục</button></div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>©
                        <script>document.write(new Date().getFullYear())</script> - App Zalo
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end account-pages -->