<div class="mt-4">
  <div class="row">
    {{#each courses}}
    <div class="col-ms-6">
      <div class="card">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"{{this.image}}></h5>
          <p class="card-text">{{this.image}} </p>
          <a href="#" class="btn btn-primary"></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>