<label>Email address</label>
<input id="ip" type="text" class="form-control" >
<a href="/news/detail"> click Detail</a>
<script>
    var valueName = document.getElementById('ip').value = "luynh";
</script>