<form action="news" method="POST">
  <div class="form-group">
    <label for="name">Tên</label>
    <input type="text" class="form-control" name="name" placeholder="Nhập tên của bạn">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>