<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="/dist/emojionearea.min.css">

  <!-- magnific-popup css -->
  <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- owl.carousel css -->
  <link rel="stylesheet" href="/assets/owl.carousel.min.css">

  <link rel="stylesheet" href="/assets/owl.theme.default.min.css">

  <!-- Bootstrap Css -->
  <link href="/assets/bootstrap-dark.min.css" rel="stylesheet" type="text/css">
  <!-- Icons Css -->
  <link href="/assets/icons.min.css" rel="stylesheet" type="text/css">
  <!-- App Css-->
  <link href="/assets/app-dark.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Chat | Zalo</title>

  <style type="text/css" data-styled-components="FiaaB gTcftA caPIRE" data-styled-components-is-local="true">
    /* sc-component-id: sc-keyframes-FiaaB */
    @-webkit-keyframes FiaaB {
      100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes FiaaB {
      100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    /* sc-component-id: sc-keyframes-gTcftA */
    @-webkit-keyframes gTcftA {

      10%,
      90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
      }
    }

    @keyframes gTcftA {

      10%,
      90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
      }
    }

    /* sc-component-id: sc-keyframes-caPIRE */
    @-webkit-keyframes caPIRE {
      0% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      20% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      40% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      60% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      80% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      100% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }
    }

    @keyframes caPIRE {
      0% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      20% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      40% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      60% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      80% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }

      100% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
      }
    }
  </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="" cz-shortcut-listen="true">
  {{{body}}}
  <script src="./assets/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
    integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./assets/simplebar.min.js"></script>
  <script src="./assets/waves.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="./dist/sweetalert2.all.min.js"></script>
  <script src="./dist/sweetalert2.min.js"></script>
  <!-- Magnific Popup-->
  <script src="./assets/jquery.magnific-popup.min.js">
  </script>
  <!-- owl.carousel js -->
  <script src="./assets/owl.carousel.min.js"></script>
  <!-- page init -->
  <script type="module" src="/js/firebase/index.js"> </script>
  <script src="/js/register/intlTelInput.js"> </script>
  <script src="./assets/index.init.js"></script>
  <script src="./assets/app.js"></script>
  <script src="/js/mainConfig.js"> </script>
  <script src="/js/moment.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
  <script src="/js/user/user.js"> </script>
  <script src="/js/validator/index.js"> </script>
  <script src="/js/contact/showDetailsProfile.js"> </script>
  <script src="/js/contact/addContact.js"> </script>
  <script src="/js/contact/removeRequestContact.js"> </script>
  <script src="/js/contact/removeRequestContactReceiver.js"> </script>
  <script src="/js/contact/acceptRequestContact.js"> </script>
  <script src="/js/contact/removeFriend.js"> </script>
  <script src="/js/message/message.js"> </script>
  <script src="/js/message/selectConversation.js"> </script>
  <script src="/js/message/detailConversation.js"> </script>
  <script src="/js/contact/contact.js"> </script>
  <script src="/js/message/fileChat.js"> </script>
  <script src="/js/message/deleteTextAndEmoji.js"> </script>
  <script src="/js/message/deleteFile.js"> </script>
  <script src="/js/message/videoCall.js"> </script>
  <script src="/js/message/textAndEmojiChat.js"> </script>
  <script src="/js/message/searchMessage.js"> </script>
  <script src="/js/message/renderMessage.js"> </script>
  <script src="/js/message/searchConversation.js"> </script>
  <script src="/js/message/deleteConversation.js"> </script>
  <script src="/js/user/checkOnlineOffile.js"> </script>
  <script src="/js/group/createGroup.js"> </script>
  <script src="/js/group/addUserToGroup.js"> </script>
  <script src="/js/group/deleteGroup.js"> </script>

  <script type="text/javascript" src="/dist/emojionearea.min.js"></script>

</body>

</html>